body {

    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

nav {

    background: #0077ff;
    color: white;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {

    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.container {

    padding: 20px;
}

.job-card {

    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {

    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, textarea, select {

    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

button {

    background: #0077ff;
    color: white;
    border: none;
    padding: 10px 20px;

    cursor: pointer;
}
form {

    margin-bottom: 20px;
}

input {

    width: 250px;
}