{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">

    Candidate Dashboard

</h1>


{% for application in applications %}

<div class="card shadow-sm mb-4">

    <div class="card-body">

        <h3 class="card-title">

            {{ application.job.title }}

        </h3>

        <h5 class="text-muted">

            {{ application.job.company }}

        </h5>

        <p>

            📍 {{ application.job.location }}

        </p>

        <p>

            💰 {{ application.job.salary }}

        </p>

        <div class="mb-3">

            <span class="badge bg-success">

                Applied Successfully

            </span>

        </div>

        {% if application.resume %}

        <a href="{{ application.resume.url }}"
           class="btn btn-primary">

           View Resume

        </a>

        {% endif %}

    </div>

</div>

{% empty %}

<div class="alert alert-warning">

    No Applications Yet

</div>

{% endfor %}

{% endblock %}