{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h1>

        Recruiter Dashboard

    </h1>

    <a href="/post-job/"
       class="btn btn-primary">

       + Post New Job

    </a>

</div>


{% for job in jobs %}

<div class="card shadow-sm mb-4">

    <div class="card-body">

        <h3 class="card-title">

            {{ job.title }}

        </h3>

        <h5 class="text-muted">

            {{ job.company }}

        </h5>

        <p>

            📍 {{ job.location }}

        </p>

        <p>

            💰 {{ job.salary }}

        </p>

        <p>

            {{ job.description }}

        </p>

        <a href="/delete-job/{{ job.id }}/"
           class="btn btn-danger">

           Delete Job

        </a>
        <a href="/view-applicants/{{ job.id }}/"
        class="btn btn-primary"> View Applicants
        </a>

    </div>

</div>

{% empty %}

<div class="alert alert-warning">

    No Jobs Posted Yet

</div>

{% endfor %}

{% endblock %}